In [3]:
pip install requests

Collecting requests
  Using cached requests-2.31.0-py3-none-any.whl.metadata (4.6 kB)
Collecting charset-normalizer<4,>=2 (from requests)
  Using cached charset_normalizer-3.3.2-cp312-cp312-macosx_11_0_arm64.whl.metadata (33 kB)
Collecting idna<4,>=2.5 (from requests)
  Using cached idna-3.6-py3-none-any.whl.metadata (9.9 kB)
Collecting urllib3<3,>=1.21.1 (from requests)
  Using cached urllib3-2.2.1-py3-none-any.whl.metadata (6.4 kB)
Collecting certifi>=2017.4.17 (from requests)
  Using cached certifi-2024.2.2-py3-none-any.whl.metadata (2.2 kB)
Using cached requests-2.31.0-py3-none-any.whl (62 kB)
Using cached certifi-2024.2.2-py3-none-any.whl (163 kB)
Using cached charset_normalizer-3.3.2-cp312-cp312-macosx_11_0_arm64.whl (119 kB)
Using cached idna-3.6-py3-none-any.whl (61 kB)
Using cached urllib3-2.2.1-py3-none-any.whl (121 kB)
Installing collected packages: urllib3, idna, charset-normalizer, certifi, requests
Successfully installed certifi-2024.2.2 charset-normalizer-3.3.2 idna-3.6 requests-2.31.0 urllib3-2.2.1
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install pandas

Collecting pandas
  Using cached pandas-2.2.1-cp312-cp312-macosx_11_0_arm64.whl.metadata (19 kB)
Collecting numpy<2,>=1.26.0 (from pandas)
  Using cached numpy-1.26.4-cp312-cp312-macosx_11_0_arm64.whl.metadata (61 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in ./taller_abril_2024/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in ./taller_abril_2024/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.1-cp312-cp312-macosx_11_0_arm64.whl (11.3 MB)
Using cached numpy-1.26.4-cp312-cp312-macosx_11_0_arm64.whl (13.7 MB)
Using cached pytz-2024.1-py2.py3-none-any.whl (505 kB)
Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.1 pytz-2024.1 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install lxml

Collecting lxml
  Downloading lxml-5.2.1-cp312-cp312-macosx_10_9_universal2.whl.metadata (3.4 kB)
Downloading lxml-5.2.1-cp312-cp312-macosx_10_9_universal2.whl (8.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.6/8.6 MB 1.6 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Installing collected packages: lxml
Successfully installed lxml-5.2.1
Note: you may need to restart the kernel to use updated packages.

In [9]:
pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.29-cp312-cp312-macosx_11_0_arm64.whl.metadata (9.6 kB)
Collecting typing-extensions>=4.6.0 (from sqlalchemy)
  Using cached typing_extensions-4.10.0-py3-none-any.whl.metadata (3.0 kB)
Downloading SQLAlchemy-2.0.29-cp312-cp312-macosx_11_0_arm64.whl (2.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 2.8 MB/s eta 0:00:00[31m2.8 MB/s eta 0:00:01
Using cached typing_extensions-4.10.0-py3-none-any.whl (33 kB)
Installing collected packages: typing-extensions, sqlalchemy
Successfully installed sqlalchemy-2.0.29 typing-extensions-4.10.0
Note: you may need to restart the kernel to use updated packages.

In [10]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Using cached mysql_connector_python-8.3.0-cp312-cp312-macosx_13_0_arm64.whl.metadata (1.9 kB)
Using cached mysql_connector_python-8.3.0-cp312-cp312-macosx_13_0_arm64.whl (15.3 MB)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0
Note: you may need to restart the kernel to use updated packages.

In [11]:
import requests
import pandas as pd
import sqlalchemy as db

In [12]:
class ConexionMySQL():
    def __init__(self, bd_servidor,bd_nombre,bd_usuario,bd_contrasenia):
        self.bd_servidor=bd_servidor
        self.bd_nombre=bd_nombre
        self.bd_usuario=bd_usuario
        self.bd_contrasenia=bd_contrasenia

    ## Función de conexión a MySQL
    def conectarMySQL(self):
        engine = db.create_engine(f"mysql+mysqlconnector://{self.bd_usuario}:{self.bd_contrasenia}@{self.bd_servidor}:3306/{self.bd_nombre}")
        
        conn=engine.connect()
        return conn

In [14]:
## creando el objeto de la clase ConnetionMysql
obj_universidades = ConexionMySQL(
                            "localhost",                    ## Servidor
                            "db_universities",              ## base de datos
                            "root",                         ## usuario
                            "DATA-ANALYST"                  ## contraseña
                            )

## llamar a la funcion de conexión a la base de datos
conn_universidades = obj_universidades.conectarMySQL()

In [15]:
query_universities = '''
SELECT u.id, u.university_name, c.country_name
FROM university u
JOIN country c ON u.country_id = c.id;
'''

In [16]:
query_ranking = '''
SELECT DISTINCT rs.system_name, rc.criteria_name
FROM ranking_system rs
JOIN ranking_criteria rc ON rs.id = rc.ranking_system_id;
'''

In [17]:
query_fact = '''
SELECT 
    ury.university_id, 
    ury.ranking_criteria_id,
    ury.year, 
    ury.score, 
    uyr.num_students, 
    uyr.student_staff_ratio, 
    uyr.pct_international_students, 
    uyr.pct_female_students
FROM 
    university_year uyr
JOIN 
    university_ranking_year ury ON uyr.university_id = ury.university_id AND uyr.year = ury.year;
'''

In [19]:
df_universities = pd.read_sql(query_universities, con=conn_universidades)

In [36]:
df_universities

        id                          university_name              country_name
0      379               University of Buenos Aires                 Argentina
1      742          National University of La Plata                 Argentina
2      898           National University of Córdoba                 Argentina
3      979           National University of Rosario                 Argentina
4       92                 University of Queensland                 Australia
...    ...                                      ...                       ...
1242  1155                      University of Tulsa  United States of America
1243  1156        University of Wisconsin-Milwaukee  United States of America
1244  1172  California State University, Long Beach  United States of America
1245  1232                    Texas Tech University  United States of America
1246   934     University of the Republic (Uruguay)                   Uruguay

[1247 rows x 3 columns]

In [20]:
df_ranking = pd.read_sql(query_ranking, con=conn_universidades)

In [37]:
df_ranking

                                        system_name              criteria_name
0   Times Higher Education World University Ranking                   Teaching
1   Times Higher Education World University Ranking              International
2   Times Higher Education World University Ranking                   Research
3   Times Higher Education World University Ranking                  Citations
4   Times Higher Education World University Ranking                     Income
5   Times Higher Education World University Ranking                Total Times
6                                  Shanghai Ranking                     Alumni
7                                  Shanghai Ranking                      Award
8                                  Shanghai Ranking                       HiCi
9                                  Shanghai Ranking                    N and S
10                                 Shanghai Ranking                        Pub
11                                 Shanghai Ranking                        PCP
12                                 Shanghai Ranking             Total Shanghai
13             Center for World University Rankings  Quality of Education Rank
14             Center for World University Rankings     Alumni Employment Rank
15             Center for World University Rankings    Quality of Faculty Rank
16             Center for World University Rankings          Publications Rank
17             Center for World University Rankings             Influence Rank
18             Center for World University Rankings             Citations Rank
19             Center for World University Rankings               Patents Rank
20             Center for World University Rankings                 Total CWUR

In [21]:
df_fact = pd.read_sql(query_fact, con=conn_universidades)

In [42]:
df_fact.head()

,university_id,ranking_criteria_id,year,score,num_students,student_staff_ratio,pct_international_students,pct_female_students
0,1,1,2011,100.0,20152,8.9,25,NaN
1,1,2,2011,72.0,20152,8.9,25,NaN
2,1,3,2011,99.0,20152,8.9,25,NaN
3,1,4,2011,99.0,20152,8.9,25,NaN
4,1,5,2011,35.0,20152,8.9,25,NaN

In [22]:
pip install google-cloud-bigquery

Collecting google-cloud-bigquery
  Downloading google_cloud_bigquery-3.20.1-py2.py3-none-any.whl.metadata (8.9 kB)
Collecting google-api-core!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1 (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery)
  Downloading google_api_core-2.18.0-py3-none-any.whl.metadata (2.7 kB)
Collecting google-auth<3.0.0dev,>=2.14.1 (from google-cloud-bigquery)
  Downloading google_auth-2.29.0-py2.py3-none-any.whl.metadata (4.7 kB)
Collecting google-cloud-core<3.0.0dev,>=1.6.0 (from google-cloud-bigquery)
  Using cached google_cloud_core-2.4.1-py2.py3-none-any.whl.metadata (2.7 kB)
Collecting google-resumable-media<3.0dev,>=0.6.0 (from google-cloud-bigquery)
  Using cached google_resumable_media-2.7.0-py2.py3-none-any.whl.metadata (2.2 kB)
Requirement already satisfied: packaging>=20.0.0 in ./taller_abril_2024/lib/python3.12/site-packages (from google-cloud-bigquery) (24.0)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in ./taller_abril_2024/lib/python3.12/site-packages (from google-cloud-bigquery) (2.9.0.post0)
Requirement already satisfied: requests<3.0.0dev,>=2.21.0 in ./taller_abril_2024/lib/python3.12/site-packages (from google-cloud-bigquery) (2.31.0)
Collecting googleapis-common-protos<2.0.dev0,>=1.56.2 (from google-api-core!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery)
  Downloading googleapis_common_protos-1.63.0-py2.py3-none-any.whl.metadata (1.5 kB)
Collecting protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0.dev0,>=3.19.5 (from google-api-core!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery)
  Using cached protobuf-4.25.3-cp37-abi3-macosx_10_9_universal2.whl.metadata (541 bytes)
Collecting proto-plus<2.0.0dev,>=1.22.3 (from google-api-core!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery)
  Downloading proto_plus-1.23.0-py3-none-any.whl.metadata (2.2 kB)
Collecting grpcio<2.0dev,>=1.33.2 (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery)
  Downloading grpcio-1.62.1-cp312-cp312-macosx_10_10_universal2.whl.metadata (4.0 kB)
Collecting grpcio-status<2.0.dev0,>=1.33.2 (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery)
  Downloading grpcio_status-1.62.1-py3-none-any.whl.metadata (1.3 kB)
Collecting cachetools<6.0,>=2.0.0 (from google-auth<3.0.0dev,>=2.14.1->google-cloud-bigquery)
  Using cached cachetools-5.3.3-py3-none-any.whl.metadata (5.3 kB)
Collecting pyasn1-modules>=0.2.1 (from google-auth<3.0.0dev,>=2.14.1->google-cloud-bigquery)
  Downloading pyasn1_modules-0.4.0-py3-none-any.whl.metadata (3.4 kB)
Collecting rsa<5,>=3.1.4 (from google-auth<3.0.0dev,>=2.14.1->google-cloud-bigquery)
  Using cached rsa-4.9-py3-none-any.whl.metadata (4.2 kB)
Collecting google-crc32c<2.0dev,>=1.0 (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery)
  Using cached google_crc32c-1.5.0-py3-none-any.whl
Requirement already satisfied: six>=1.5 in ./taller_abril_2024/lib/python3.12/site-packages (from python-dateutil<3.0dev,>=2.7.2->google-cloud-bigquery) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in ./taller_abril_2024/lib/python3.12/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in ./taller_abril_2024/lib/python3.12/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./taller_abril_2024/lib/python3.12/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in ./taller_abril_2024/lib/python3.12/site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2024.2.2)
Collecting pyasn1<0.7.0,>=0.4.6 (from pyasn1-modules>=0.2.1->google-auth<3.0.0dev,>=2.14.1->google-cloud-bigquery)
  Downloading pyasn1-0.6.0-py2.py3-none-any.whl.metadata (8.3 kB)
Downloading google_cloud_bigquery-3.20.1-py2.py3-none-any.whl (233 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 233.4/233.4 kB 1.4 MB/s eta 0:00:00 MB/s eta 0:00:01:01
Downloading google_api_core-2.18.0-py3-none-any.whl (138 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 138.3/138.3 kB 2.8 MB/s eta 0:00:00[31m3.1 MB/s eta 0:00:01
Downloading google_auth-2.29.0-py2.py3-none-any.whl (189 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 189.2/189.2 kB 3.0 MB/s eta 0:00:00[31m3.5 MB/s eta 0:00:01
Using cached google_cloud_core-2.4.1-py2.py3-none-any.whl (29 kB)
Using cached google_resumable_media-2.7.0-py2.py3-none-any.whl (80 kB)
Using cached cachetools-5.3.3-py3-none-any.whl (9.3 kB)
Downloading googleapis_common_protos-1.63.0-py2.py3-none-any.whl (229 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 229.1/229.1 kB 3.1 MB/s eta 0:00:00 MB/s eta 0:00:01
Downloading grpcio-1.62.1-cp312-cp312-macosx_10_10_universal2.whl (10.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.0/10.0 MB 3.2 MB/s eta 0:00:00 eta 0:00:01[36m0:00:01
Downloading grpcio_status-1.62.1-py3-none-any.whl (14 kB)
Downloading proto_plus-1.23.0-py3-none-any.whl (48 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 48.8/48.8 kB 746.2 kB/s eta 0:00:00B/s eta 0:00:01
Using cached protobuf-4.25.3-cp37-abi3-macosx_10_9_universal2.whl (394 kB)
Downloading pyasn1_modules-0.4.0-py3-none-any.whl (181 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 181.2/181.2 kB 3.2 MB/s eta 0:00:00MB/s eta 0:00:01
Using cached rsa-4.9-py3-none-any.whl (34 kB)
Downloading pyasn1-0.6.0-py2.py3-none-any.whl (85 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 85.3/85.3 kB 2.5 MB/s eta 0:00:00
Installing collected packages: pyasn1, protobuf, grpcio, google-crc32c, cachetools, rsa, pyasn1-modules, proto-plus, googleapis-common-protos, google-resumable-media, grpcio-status, google-auth, google-api-core, google-cloud-core, google-cloud-bigquery
Successfully installed cachetools-5.3.3 google-api-core-2.18.0 google-auth-2.29.0 google-cloud-bigquery-3.20.1 google-cloud-core-2.4.1 google-crc32c-1.5.0 google-resumable-media-2.7.0 googleapis-common-protos-1.63.0 grpcio-1.62.1 grpcio-status-1.62.1 proto-plus-1.23.0 protobuf-4.25.3 pyasn1-0.6.0 pyasn1-modules-0.4.0 rsa-4.9
Note: you may need to restart the kernel to use updated packages.

In [23]:
pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-15.0.2-cp312-cp312-macosx_11_0_arm64.whl.metadata (3.0 kB)
Requirement already satisfied: numpy<2,>=1.16.6 in ./taller_abril_2024/lib/python3.12/site-packages (from pyarrow) (1.26.4)
Downloading pyarrow-15.0.2-cp312-cp312-macosx_11_0_arm64.whl (24.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 24.2/24.2 MB 2.8 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Installing collected packages: pyarrow
Successfully installed pyarrow-15.0.2
Note: you may need to restart the kernel to use updated packages.

In [24]:
from google.cloud import bigquery

key_path = "../credenciales/datapath.json"
client = bigquery.Client.from_service_account_json(key_path)

In [33]:
## id de la tabla nueva - cambiar el nombre al tuyo
table_id_universities="datapath-413822.taller_etl.dim_universities"

# creamos la estructura de la tabla
schema = []
table = bigquery.Table(table_id_universities, schema=schema)

## enviando la instruccion a bigquery
table_universities = client.create_table(table)

In [34]:
## id de la tabla nueva - cambiar el nombre al tuyo
table_id_ranking="datapath-413822.taller_etl.dim_ranking"

# creamos la estructura de la tabla
schema = []
table = bigquery.Table(table_id_ranking, schema=schema)

## enviando la instruccion a bigquery
table_ranking = client.create_table(table)

In [35]:
## id de la tabla nueva - cambiar el nombre al tuyo
table_id_fact="datapath-413822.taller_etl.fact_ranking_universities"

# creamos la estructura de la tabla
schema = []
table = bigquery.Table(table_id_fact, schema=schema)

## enviando la instruccion a bigquery
table_fact = client.create_table(table)

In [39]:
job_config = bigquery.LoadJobConfig(
    # especificamos el esquema de nuestra tabla
    schema=[
 # Especifique el tipo de columnas cuyo tipo no se puede detectar automáticamente.
        bigquery.SchemaField("id", "INT64"),
        bigquery.SchemaField("university_name", "STRING"),
        bigquery.SchemaField("country_name", "STRING")
    ],

    write_disposition="WRITE_TRUNCATE", #WRITE_APPEND para sobrescribir
)

## proceso de ingesta
job = client.load_table_from_dataframe(
    df_universities, # dataframe
    table_id_universities, # tabla en bigquery
    job_config=job_config # configuación de carga
)

In [40]:
job_config = bigquery.LoadJobConfig(
    # especificamos el esquema de nuestra tabla
    schema=[
 # Especifique el tipo de columnas cuyo tipo no se puede detectar automáticamente.
        bigquery.SchemaField("system_name", "STRING"),
        bigquery.SchemaField("criteria_name", "STRING")
    ],

    write_disposition="WRITE_TRUNCATE", #WRITE_APPEND para sobrescribir
)

## proceso de ingesta
job = client.load_table_from_dataframe(
    df_ranking, # dataframe
    table_ranking, # tabla en bigquery
    job_config=job_config # configuación de carga
)

In [44]:
job_config = bigquery.LoadJobConfig(
    # especificamos el esquema de nuestra tabla
    schema=[
 # Especifique el tipo de columnas cuyo tipo no se puede detectar automáticamente.
        bigquery.SchemaField("university_id", "INT64"),
        bigquery.SchemaField("ranking_criteria_id", "INT64"),
        bigquery.SchemaField("year", "INT64"),
        bigquery.SchemaField("score", "FLOAT64"),
        bigquery.SchemaField("num_students", "INT64"),
        bigquery.SchemaField("student_staff_ratio", "FLOAT64"),
        bigquery.SchemaField("pct_international_students", "FLOAT64"),
        bigquery.SchemaField("pct_female_students", "FLOAT64")
    ],

    write_disposition="WRITE_TRUNCATE", #WRITE_APPEND para sobrescribir
)

## proceso de ingesta
job = client.load_table_from_dataframe(
    df_fact, # dataframe
    table_fact, # tabla en bigquery
    job_config=job_config # configuación de carga
)

In [ ]:
job.result()